<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/admin/register" method="POST" enctype="text/html">
      <input type="text" name="username" required placeholder="username" />
      <input type="email" name="email" placeholder="email@email.com" />
      <input type="text" name="password" id="" placeholder="enter password" />
      <button type="submit">register</button>
    </form>
  </body>
</html>
